@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:ital,wght@0,100;0,300;0,700;0,900;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

/* GLOBAL */
a{
    text-decoration: none;
}

ul{
    list-style: none;
}
 body{
     background:#fff;
     font-family: 'Open Sans' , sans-serif;
     line-height: 1.5;
     letter-spacing: 1.2;
 }
 img{
    height: auto;
    min-width: 100%;
}
/* TYPOGRAGHY */
h1,h2,h3,h4{
    font-weight: 700;
    font-family: 'Roboto' , sans-serif;
    font-weight: 700;
}

p{
    color:#fff;
}
/* MAIN NAVIGATION */

header{
    width: 100%;
    padding: 1em 0;
    background: #084d4d;
    text-align: center;
    position: fixed;  
    z-index: 999;
}

.brand{
  font-style: italic;
  font-weight: 400;
  color: #fff;
  font-size: 1.5em;
  float: left;
  margin-left: 1em;
}

.brand i{
    font-size: 1.8em;
}

.highlight{
    color:#e84610;
}

nav{
    margin: 0;
}

.navbar-dark .navbar-nav .nav-link {
    color:#fff!important;
    display: block;
    padding: .5rem 1rem;
    text-transform: uppercase;
  
}

.navbar-dark .navbar-nav .nav-link:hover{
    color: #e84610!important;
}

.bg-dark{
    background:#084d4d!important;
    }

nav .navbar-toggler{
    color:#fff!important;
    border: 0!important;
}

.navbar-toggler-icon:checked ~ nav{
    outline:none!important;
}


/* SLIDER HERO IMAGE */
#travel-slides{
    height:auto;
    min-width: 100%;
    overflow: hidden;
  
}

 .btn-explore{
    background: #e84610!important;
    color: #fff;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    border-radius: 8px;
    z-index: 2;

}

.btn-explore:hover{
     color: #e84610;
     background: #fff!important;
}

.carousel-indicators li {
  width:10%;
  height: auto;
    background: #084d4d;

}
.carousel-caption{
    bottom:120px;
    left: 50px;
    background: rgba(0,0,20,0.5);
     max-width: 40%;
    border-radius: 8px;
    text-align: center;

}
@media (max-width:768px) {
    .carousel-caption{
        bottom: 5px;
        left:5px ;
        background: rgba(0,0,20,0.2);
        
    }
    
   .carousel-indicators li {
     width: 5%;
     height: auto;
     border-radius:50%;
   }
   
    .carousel-caption h3{
        font-size: 1em;
        text-transform:capitalize!important;
    }
    .carousel-caption p{
        display: none;
    }

    .btn-explore{
        padding:4px 8px;
        z-index: 2;
    }
}

/* ÑEWSLETTER SECTION */
.newsletter{
    padding: 50px;
    color: #fff;
    background:rgba(0,0,20,0.8);

}

.text-content{
    max-width:768px;
    margin: 0 auto;
    text-align: center;
}

.text-content h3{
    color: #fff;
    margin-bottom: 25px;
}

.form-control{
    height: 38px;
    border-color:#fff;
}

.form-control:focus{
    box-shadow: none;
    border: 1px solid rgba(0,0,20,0.8);
}

.sub-btn{
    min-height: 38px;
    background: #e84610;
    font-weight: 600;
    color: #fff;
    border: none;
    padding: 0 1em;
    transition: .6s;
}

.sub-btn:hover{
    color: #e84610;
    background: #aaa;
}

@media screen and(max-width:600px){
    .newsletter{
        padding: 30px;
    }

    .text-content h3{
        font-size: 8px;
    }
}

/* ABOUT SECTION */
#about{
    background: #fff;
    color:#000;
    display:block;
    margin: 0 auto;
    margin-left: 1em;
    padding:2em 1em;
}
#about p{
    padding-top: 0.5em;
    color: #000;
    line-height: 1.5;
    margin: 3em 2em;

}
#about .img-fluid{
    height:auto;
    max-width: 100%;
    margin-top: 3em;
}
#about .content-title{
    text-transform: uppercase;
    margin-top: 2em;
    margin-bottom: .5em;
    text-align: center;
  
}

#about h3{
    margin-top: 2em;
    margin-bottom: 0.5em;
}
.short-line-divider{
    width: 15%;
    background: #e84610;
    height: 2px;
    margin: 0 auto;
    border-radius: 2px;
   
}

.btn-dark{
    margin-top: 1.5em; 
    margin-left: 3em;
    padding: 1em 3em;
    display:inline-block;
    color:#fff;
    background: rgba(0,0,20,0.8);
    border-radius: 8px;
    transition: .8s;
}

.btn-dark:hover{
    color:#000 ;
    background: #fff;
}

@media(min-width:768px){
       #about .content-about p{
        margin-top: 0;
        padding-top: 0;
        padding-bottom: 0;
        font-size: 1.2em;
     
    }
}
/* TOURS SECTION */
#tours{
    padding:2.5em 1em;
    margin: 0 auto;
}
#tours h2{
    text-transform: capitalize;
    text-align: center;
    color: #000;
    margin:2em 0;
}

#tours h4{
    text-transform: uppercase;
}


#tours .price{
    font-weight: 600;
}
.rating{
    float: left;
    margin-right: 30px;
}

.rating .fa{
    color: orange;

}

.booking-btn{
    margin-top:2em;
    margin-bottom: 2em;
    display:flex;
    padding: 1em 3em;
    color:#fff;
    background: rgba(0,0,20,0.8);
    border-radius: 8px;
    transition: .8s;
    border: 1px solid rgba(0,0,20,0.8);
}

.booking-btn:hover{
    background: #fff;
    color:#000 ;
    text-decoration: none;
}

/* PROMOTION SECTION */
.promotion{
    height: 80%;
    background-image: url('../images/promo.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 7%;
    padding-bottom: 7%;
}

.promotion-highlights{
    background: rgba(0,0,0,0.5);
    text-align: center;
    color: #fff!important;
    padding: 2em 0;
}

 
.book-btn{
    width:130px;
    padding:0.5em 0;
    outline: none;
    border: 2px solid #fff;
    font-weight: 500;
    border-radius: 40px;
    background: transparent;
    color:#fff;
    float:right;
    margin-top: 1.25em;
    transition: .8s;
}

/* USER FEEDBACK */

.user-feedback{
    padding: 6em 0;
    
}

.user-review{
    text-align: center;
    padding-bottom: 2em;
    margin: 1em;
    background: #f4f4f4;
    bottom: 0;
}

.user-review p{
    padding:1.5em;
    color: #000;
}

.user-review img{
    border-radius: 50%;
    padding: 2em;
}

.user-feedback h2{
    text-align: center;
    margin: 1.5em 0;
}

/* GALLERY SECTION */
#gallery h2{
    text-align: center;
    margin: 0 auto;
    padding: 2em 0;
}

#gallery{
    padding: 2em 1em;
    margin: 0 auto;
    text-align: center;
}

.img-container > img{
    margin-bottom: 20px;
    width: 100%;
    vertical-align: middle;
}


#contact{
    max-width: 768px;
    margin: 7em auto;
    position: relative;
    box-shadow: 2px 10px 20px 2px rgba(0,0,0,0.8);
    padding:20px  40px;
    
}

.contact-title{
    font-size: 2em;
    color: #084d4d;
    padding-bottom: 1.25em;
    margin:1.5em 0;
    letter-spacing: 3px;
    line-height: 1.2;
    text-align: center;
     text-decoration: uppercase;
}

.contact-form .form-fieldset{
    position: relative;
    margin:2em 0;
}

.contact-form .input-text{
    display: block;
    width:100%;
    height: 2em;
    border-width: 0 0 2px 0;
    border-color: #084d4d;
    font-size:1.13em;
    line-height: 1.6;
    font-weight: 400;
}

.contact-form .input-text:focus + .label,
.contact-form .input-text.not-empty + .label{
    transform: translateY(-40px);
}
.contact-form .input-text:focus{
    outline: none;
}
.label{
    position: absolute;
    left:20px;
    bottom: 11px;
    font-size: 1.2em;
    color: #084d4d;
    cursor: text;
    transition: transform 0.3s ease-in-out;
}

.submit-btn{
    display: block;
    background: #084d4d;
    color: #fff;
    font-size: 1em;
    letter-spacing: 2px;
    padding: 1em 3em;
    border-radius: 8px;
    margin: 0 auto;
    width: 300px;
    cursor: pointer;
    border: 0;
    transition: .8s;
}

.submit-btn:hover{
    color: #084d4d;
    background: #fff;
    border: 1px solid #084d4d;
}

/* SOCIAL ICONS */
.bg-teal{
    background-color: #084d4d;
}

.social h4{
    margin: 2em 1em;
}


/* FOOTER */
.footer{
    width: 100%;
    height: auto;
    padding: 60px 20px;
    background-color: #182c39;
    color:#fff;
    margin: 3em auto;
    text-align: center;
}
.footer-divider{
    background: #35393e;
}
.footer i{
    color:#fff;
    margin-right: .5em;
   
}

.footer i:hover{
     color:#e84610;

}
.footer p{
    color: #fff;
    
    font-size:0.96em;
    padding: 0.4em;
    line-height: 1.2;
    letter-spacing: normal;  

}

.social-networks i{
    font-size: 30px;
}
.footer .copyright{
    text-align: center;
}

.footer h4{
    text-transform: uppercase;
    margin-top:0.938em;
    margin-bottom:1.6em;
    text-decoration: none!important;
}

.footer .fa-instagram{
    background: none!important;
}

.footer .fa-twitter{
    background: none!important;
}



    


