@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:ital,wght@0,100;0,300;0,700;0,900;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

/* GLOBAL */
a{
    text-decoration: none;
}

ul{
    list-style: none;
}
 body{
     background:#fff;
     font-family: 'Open Sans' , sans-serif;
     line-height: 1.5;
     letter-spacing: 1.2;
 }
/* TYPOGRAGHY */
h1,h2,h3,h4{
    font-weight: 700;
    font-family: 'Roboto' , sans-serif;
    font-weight: 700;
}

p{
    color:#fff;
}
/* MAIN NAVIGATION */

header{
    width: 100%;
    padding: 1.5em 0;
    background: #084d4d;
    text-align: center;
    position: fixed;  
    z-index: 999;
}

.brand{
  font-style: italic;
  font-weight: 400;
  color: #fff;
  font-size: 1.5em;
  float: left;
  margin-left: 1em;
}

.brand i{
    font-size: 1.8em;
}

.highlight{
    color:#e84610;
}


.menu-btn{
    display: none;
    user-select: none;
}

.menu-btn-label{
    position: absolute;
    top:0;
    right: 0;
    margin-right: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.menu-btn-label span,
.menu-btn-label span::before,
.menu-btn-label span::after{
    position: relative;
    width:2em;
    height: 2px;
    display: block;
    background: #fff;
    border-radius: 3px ;
}

.menu-btn-label span::before,
.menu-btn-label span::after{
    position: absolute;
    content: "";
}

.menu-btn-label span::before{
    top:6px;
}

.menu-btn-label span::after{
    bottom:6px;
}

nav{
    width: 100%;
    background: #084d4d;
    right: 0;
    top:100%;
    text-align: right;
    position: absolute;
    transform: scale(1, 0);
    transform-origin: top;
    transition: .3s ease-in-out;
}

nav li{
    margin-left: 1em;
    margin-bottom: 1em;

}

nav a{
    color: #fff;
    font-size: 1.2em;
    text-transform: uppercase;
    margin-right: 3em;
    opacity: 0;
    transition: opacity .2s ease-in-out ;
} 

nav a:hover{
    text-decoration: none;
    color: #e84610;
}

.menu-btn:checked ~ nav{
    transform:scale(1.1);
}

.menu-btn:checked ~ nav a{
    opacity: 1;
    transition: opacity .3s ease-in-out .3s;
}

@media screen and (min-width:768px){
    .menu-btn-label{
        display: none;
    }

    header{
        display: grid;
        grid-template-columns: auto 1fr  minmax(600px,3fr);

    }

    .brand{
        grid-column: 1 / 2;
    }

    nav{
        all:unset;
        grid-column: 3/4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav ul{
        display: flex;
        justify-content: flex-end;
    
    }
    
    nav li{
        margin-left: 1em;
        margin-bottom: 0;
    }
    nav a{
        opacity: 1;
        float: right;
    }
}

/* SLIDER HERO IMAGE */
#home{
    background: #084d4d;
}
 .btn-explore{
    background: #e84610!important;
    color: #fff;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    border-radius: 8px;
    z-index: 2;

}

.btn-explore:hover{
     color: #e84610;
     background: #fff!important;
}

.carousel-indicators li {
    width: 30px;
    height: 0.001px;
    border-radius: 0%;
    background: #084d4d;

}
.carousel-caption{
    bottom: 150px;
    background: rgba(0,0,20,0.5);
    width: 40%;
    border-radius: 8px;
    text-align: center;

}
@media (max-width:500px) {
    .carousel-caption{
        bottom: 10px;
        width: 40%;
    }
    .carousel-caption h2{
        font-size: 1em;
        text-transform: capitalize!important;
    }
    .carousel-caption p{
        display: none;
    }

    .btn-explore{
        padding:5px 10px;
    }
}











