@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:ital,wght@0,100;0,300;0,700;0,900;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

/* GLOBAL */
a{
    text-decoration: none;
}

ul{
    list-style: none;
}
 body{
     background:#fff;
     font-family: 'Open Sans' , sans-serif;
     line-height: 1.5;
     letter-spacing: 1.2;
 }
 img{
    height: auto;
    min-width: 100%;
}
/* TYPOGRAGHY */
h1,h2,h3,h4{
    font-weight: 700;
    font-family: 'Roboto' , sans-serif;
    font-weight: 700;
}

p{
    color:#fff;
}
/* MAIN NAVIGATION */

header{
    width: 100%;
    padding: 1em 0;
    background: #084d4d;
    text-align: center;
    position: fixed;  
    z-index: 999;
}

.brand{
  font-style: italic;
  font-weight: 400;
  color: #fff;
  font-size: 1.5em;
  float: left;
  margin-left: 1em;
}

.brand i{
    font-size: 1.8em;
}

.highlight{
    color:#e84610;
}

nav{
    margin: 0;
}

.navbar-dark .navbar-nav .nav-link {
    color:#fff!important;
    display: block;
    padding: .5rem 1rem;
    text-transform: uppercase;
  
}

.navbar-dark .navbar-nav .nav-link:hover{
    color: #e84610!important;
}

.bg-dark{
    background:#084d4d!important;
    }

nav .navbar-toggler{
    color:#fff!important;
    border: 0!important;
}

.navbar-toggler-icon:checked ~ nav{
    outline:none!important;
}

/* SLIDER HERO IMAGE */
#travel-slides{
    height:auto;
    min-width: 100%;
    overflow: hidden;
  
}

 .btn-explore{
    background: #e84610!important;
    color: #fff;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    border-radius: 8px;
    z-index: 2;

}

.btn-explore:hover{
     color: #e84610;
     background: #fff!important;
}

.carousel-indicators li {
  width:10%;
  height: auto;
    background: #084d4d;

}
.carousel-caption{
    bottom:120px;
    left: 50px;
    background: rgba(0,0,20,0.5);
     max-width: 40%;
    border-radius: 8px;
    text-align: center;

}
@media (max-width:768px) {
    .carousel-caption{
        bottom: 5px;
        left:5px ;
        background: rgba(0,0,20,0.2);
        
    }
    
   .carousel-indicators li {
     width: 5%;
     height: auto;
     border-radius:50%;
   }
   
    .carousel-caption h3{
        font-size: 1em;
        text-transform:capitalize!important;
    }
    .carousel-caption p{
        display: none;
    }

    .btn-explore{
        padding:4px 8px;
        z-index: 2;
    }
}

/* ÑEWSLETTER SECTION */
.newsletter{
    padding: 50px;
    color: #fff;
    background:rgba(0,0,20,0.8);

}

.text-content{
    max-width:768px;
    margin: 0 auto;
    text-align: center;
}

.text-content h3{
    color: #fff;
    margin-bottom: 25px;
}

.form-control{
    height: 38px;
    border-color:#fff;
}

.form-control:focus{
    box-shadow: none;
    border: 1px solid rgba(0,0,20,0.8);
}

.sub-btn{
    min-height: 38px;
    background: #e84610;
    font-weight: 600;
    color: #fff;
    border: none;
    padding: 0 1em;
    transition: .6s;
}

.sub-btn:hover{
    color: #e84610;
    background: #aaa;
}

@media screen and(max-width:600px){
    .newsletter{
        padding: 30px;
    }

    .text-content h3{
        font-size: 8px;
    }
}

/*--------------------------------------------------------------------------about section-------------*/
#about{
    background: #fff;
    color:#000;
    display:block;
    margin: 0 auto;
    margin-left: 1em;
    padding-top: 2em;
}
#about p{
    padding-top: 0.5em;
    color: #000;
    line-height: 1.5;
    margin: 3em 2em;

}
#about .img-fluid{
    height:auto;
    max-width: 100%;
    margin-top: 3em;
}
#about .content-title{
    text-transform: uppercase;
    margin-top:1em;
    margin-bottom: .5em;
    text-align: center;
  
}

#about h3{
    margin-top: 2em;
    margin-bottom: 0.5em;
}
.short-line-divider{
    width: 15%;
    background: #e84610;
    height: 2px;
    margin: 0 auto;
    border-radius: 2px;
   
}

.btn-dark{
    margin-top: 1.5em; 
    margin-left: 3em;
    padding: 1em 3em;
    display:inline-block;
    border-radius: 8px;
}






    


